<div id="contact" class="jumbo">
	<div id="jtext">
		<p id="jp">
			Take that trip.
		</p>
		<p id="jsmall">
			FEEL AT EASE.
			<br>
			Wanna chat? Send us an email.
		</p>
	</div>
</div>
<h1 id="contact_title">
	contact us today
</h1>
<div id="mail">
	<div id ="contex">
		Concerns, compliments, condolences? Whatever it is, we'd love to here from you!
	</div>
	<br>
	<form method='POST' action='/contact' id='fcontact'>
		<label for="mailname"><strong>Name</strong></label>
		<input type="text" name="mailname" id="mailb">
		<input type="submit" id="mailbut">
	</form>
	<br>
	<textarea rows="15" cols="100" name="message" form="fcontact">Enter message here...</textarea>
</div>
