<div id="contact" class="jumbo">
	<div id="jtext">
		<p id="jp">
			Contact us Today
		</p>
		<p id="jsmall">
			this is standin
		</p>
	</div>
</div>

<div id="mail">
	<div id ="contex">
		Concerns, compliments, condolences? Whatever it is, we'd love to here from you!
	</div>
	<br>
	<form method='POST' action='/contact' id='fcontact'>
		<label for="mailname">Name</label>
		<input type="text" name="mailname">
		<input type="submit" id="mailbut">
	</form>
	<br>
	<textarea rows="10" cols="75" name="message" form="fcontact">Enter message here...</textarea>
</div>
