<div id="contact" class="jumbo">
	<div id="jtext">
		<p id="jp">
			Take that trip.
		</p>
		<p id="jsmall">
			FEEL AT EASE.
			<br>
			Wanna chat? Call or send us an email.
		</p>
	</div>
</div>

<h1 id="contact_title">
	contact us today
</h1>

<div class="cont">
		<div class="cont_div">
		<h1>blah blah
		</h1>
		<br>
		<h2>blah blah blah blah</h2>

		<p>blah blahblahblah
		</p>



</div>
