	<div id="contact" class="jumbo">

	</div>

	<h1 id="contact_title">
	Contact us today.
</h1>
<div id="contact" class="jumbo">
	<div id="jtext">
		<p id="jp">
			Contact.
		</p>
		<p id="jsmall">
			this is standin
		</p>
	</div>
</div>
