<div id="home" class="jumbo">
	<div id="jtext">
		<p id="jp">
			Welcome.
		</p>
		<p id="jsmall">
		LIVE YOUR LIFE
		<br>Find and book local pet sitters nearby and have peace of mind.
		</p>
	</div>
</div>

<h1 id="home_title">
	we're all family
</h1>
