<div id="services" class="jumbo">
	<div id="jtext">
		<p id="jp">
			Services.
		</p>
		<p id="jsmall">
			a scratch for every itch
		</p>
	</div>
</div>
<h1 id="servtitle">
	services and rates
</h1>
<div class="serv">
	<div class="circle">
		<h1>
			Pet<br>Walking
		</h1>
	</div>
	<p class="servt">
		Does it have legs? We'll walk it! Dogs, cats, turtles, guinea pigs, you name it!
		</br>
		For a minor fee we'll even provide the leash!
	</p>
	<div class="servprice">
		<p>
			20 minutes - One pet,  group walk
		</p>
		<h1 class="price">
			$15
		</h1>
	</div>
	<div class="servprice">
		<p>
			30 minutes - One pet,  group walk
		</p>
		<h1 class="price">
			$18
		</h1>
	</div>
	<div class="servprice">
		<p>
			60 minutes - One pet,  group walk
		</p>
		<h1 class="price">
			$28
		</h1>
	</div>
</div>
<div class="serv">
	<div class="circle">
		<h1>
			Pet<br>Sitting
		</h1>
	</div>
	<p class="servt">
		Sometimes life gets busy, we understand.
		<br>
		That's why we offer a variety of Pet Sitting services to help out!
	</p>
	<div class="servprice">
		<p>
			30 minute visit - One pet household
		</p>
		<h1 class="price">
			$20
		</h1>
	</div>
	<div class="servprice">
		<p>
			24 hour Overnight - One pet household
		</p>
		<h1 class="price">
			$85
		</h1>
	</div>
	<div class="servprice">
		<p>
			Each additional day
		</p>
		<h1 class="price">
			$75
		</h1>
	</div>
</div>
<div class="serv">
	<div class="circle">
		<h1>
			Deluxe<br>Services
		</h1>
	</div>
		<p class="servt">
		You think you're pets special, one of a kind So do we!
		<br>
		Treat your fury friend to a special experience!
	</p>
	<div class="servprice">
		<p>
			Premium Cat Massage
		</p>
		<h1 class="price">
			$20
		</h1>
	</div>
	<div class="servprice">
		<p>
			Shell Wash and Wax
		</p>
		<h1 class="price">
			$15
		</h1>
	</div>
	<div class="servprice">
		<p>
			Shampoo and Tail Fluff
		</p>
		<h1 class="price">
			$17
		</h1>
	</div>
</div>