<div id="modal">
	<div id="innermodal">
		<p>
			Sign up today and get<br><br><strong>15% off</strong><br><br>your first service!
		</p>
	</div>
</div>
<div id="signup" class="jumbo">
	<div id="jtext">
		<h1 id="servtitle">
			Sign Up.
		</h1>
		<p id="jsmallc">
			It's easy as 1, 2, 3!
		</p>
	</div>
</div>
<div id="signform">
	<form method="POST" action="/signup" id="sup">
		<div id="s">	
			<div class="params">
				<div id="one" class="easy">
					<p>
						1
					</p>
				</div>
				<h2>About You</h2>
				<label for="firstName">First Name</label>
				<input type="text" name="firstname">
				<br>
				<br>
				<label for="lastName">Last Name</label>
				<input type="text" name="lastName">
			</div>
			<div class="params">
				<div id="two" class="easy">
					<p>
						2
					</p>
				</div>
				<h2>About Your Pet</h2>
				<label for="petName">Pets Name</label>
				<input type="text" name="petName">
				<br>
				<br>
				<label for="petType" id="pt">Pet Type</label>
				<input type="text" name="petName">
			</div>
		</div>
		<div id="sel">
			<div id="three" class="easy">
				<p>
					3
				</p>
			</div>
			<h2>Select a Service</h2>
			<div class="servselect">
				<h3>Pet Walking</h3>
				<select name="petwalking" class="sc">
					<option value="none" selected="selected"></option>
					<option value="petwalk20">20 minutes</option>
					<option value="petwalk30">30 minutes</option>
					<option value="petwalk60">60 minutes</option>
				</select>
			</div>
			<div class="servselect">
				<h3>Pet Sitting</h3>
				<select name="petsitting" class="sc">
					<option value="none" selected="selected"></option>
					<option value="petsit30">30 minute visit</option>
					<option value="petsit24">24 hour overnight</option>
					<option value="petsitmulti">Multiple day overnight</option>
				</select>
			</div>
			<div class="servselect">
				<h3>Deluxe Services</h3>
				<select name="deluxeservices" class="sc">
					<option value="none" selected="selected"></option>
					<option value="catmassage">Premium Cat Massage</option>
					<option value="shellwash">Shell Wash and Wax</option>
					<option value="tailfluff">Shampoo and Tail Fluff</option>
				</select>
			</div>
		</div>
		<div id="sub">
			<input type="submit" id="but">
		</div>
	</form>
</div>
