<div id="signup" class="jumbo">
</div>
<h1 id="servtitle">
	Sign Up!
</h1>
<form method="POST" action="/signup" id="sup">
	<label for="firstName">First Name</label>
	<input type="text" name="firstname">
	<br>
	<label for="lastName">Last Name</label>
	<input type="text" name="lastName">
	<br>
	<label for="petName">Pets Name</label>
	<input type="text" name="petName">
	<br>
	<input type="submit">

	</form>
