<div id="watchers" class="jumbo">
	<div id="jtext">
		<p id="jp">
			They're in good hands.
		</p>
		<p id="jsmall">
			NO WORRIES.
			<br>
			Meet our capable and caring crew.
		</p>
	</div>
</div>

<h1 id="watch_title">
	meet our pack
</h1>
<div class="watch_div">
	<img src="images/watch_pers_1.jpg" alt="" class="clip-circle">
	<div class="watch_bio">
		<h1>Jamie Gunn
		</h1>
		<br>
		<h2>Your Pet is King/Queen of my Home</h2>

		<p>I have been a pet lover all my life. We have always had dogs and I currently have cats and dogs! The dogs live downstairs with my Mom and the cats upstairs with me. Your pet can stay with me anytime and be treated like a King or Queen. We live in a quiet suburban neighborhood with a fenced backyard where your dog can run around or, if you prefer, I am happy to walk your dog as well.
		</p>
		
		<div class="icon-top">
			<div class="bio_icons">
				<img src="images/icons_house.svg" alt=" " class="icons">
				<h3>Lives in a House</h3>
			</div>
			<div class="bio_icons">
				<img src="images/icons_nosmoke.svg" alt=" " class="icons">
				<h3>Non-Smoking House</h3>
			</div>
			<div class="bio_icons">
				<img src="images/icons_fence.svg" alt=" " class="icons">
				<h3>Fenced-In Yard</h3>
			</div>
		</div>

		<div class="icon-bot">
			<div class="bio_icons_b">
				<img src="images/icons_cat.svg" alt=" " class="icons">
				<h3>Has Cats</h3>
			</div>
			<div class="bio_icons_b">
				<img src="images/icons_pets.svg" alt=" " class="icons">
				<h3>Has 3 Dogs</h3>
			</div>
			<div class="bio_icons_b">
				<img src="images/icons_nokids.svg" alt=" " class="icons">
				<h3>No Children</h3>
			</div>
		</div>
	</div>
</div>
<div class="watch_div">
	<img src="images/watch_pers_2.jpg" alt="" class="clip-circle">
	<div class="watch_bio">
		<h1>Josh Riley</h1>
		<br>
		<h2>I'll treat your pet better than my girlfriend.</h2>

		<p>I grew up with dogs and love to spend time with them. I had pretty much every animal growing up even a monkey. If you and the dog are more comfortable being home I am there for you even if is during the day when you are at work and your puppy needs play time or you need a getaway week or vacation. Give me a try. We can talk about price if its just walks during the day :) For overnight stays, I can travel more then 20 miles discussed accordingly.
		</p>
		
		<div class="icon-top">
			<div class="bio_icons">
				<img src="images/icons_house.svg" alt=" " class="icons">
				<h3>Lives in a House</h3>
			</div>
			<div class="bio_icons">
				<img src="images/icons_nosmoke.svg" alt=" " class="icons">
				<h3>Non-Smoking House</h3>
			</div>
			<div class="bio_icons">
				<img src="images/icons_fence.svg" alt=" " class="icons">
				<h3>Fenced-In Yard</h3>
			</div>
		</div>

		<div class="icon-bot">
			<div class="bio_icons_b">
				<img src="images/icons_no_cat.svg" alt=" " class="icons">
				<h3>No Cats</h3>
			</div>
			<div class="bio_icons_b">
				<img src="images/icons_pets.svg" alt=" " class="icons">
				<h3>Has 1 Dog</h3>
			</div>
			<div class="bio_icons_b">
				<img src="images/icons_nokids.svg" alt=" " class="icons">
				<h3>No Children</h3>
			</div>
		</div>
	</div>
</div>
<div class="watch_div">
	<img src="images/watch_pers_3.jpg" alt="" class="clip-circle">
	<div class="watch_bio">
		<h1>Timothy Tourelle</h1>
		<br>
		<h2>Your Dog is Good With Us :)</h2>

		<p>Hey Everyone, My name is Timothy and I have a wonderful dog friendly home. I have a large yard and a dog run, along with my own lovely dog named Milo. I also have four children who get along great with animals. I've had the pleasure of raising and caring for labs, pitbulls, and dotsons. Your dog will be much loved and cared for in this home.
		</p>
		
		<div class="icon-top">
			<div class="bio_icons">
				<img src="images/icons_house.svg" alt=" " class="icons">
				<h3>Lives in a House</h3>
			</div>
			<div class="bio_icons">
				<img src="images/icons_nosmoke.svg" alt=" " class="icons">
				<h3>Non-Smoking House</h3>
			</div>
			<div class="bio_icons">
				<img src="images/icons_fence.svg" alt=" " class="icons">
				<h3>Fenced-In Yard</h3>
			</div>
		</div>

		<div class="icon-bot">
			<div class="bio_icons_b">
				<img src="images/icons_no_cat.svg" alt=" " class="icons">
				<h3>No Cats</h3>
			</div>
			<div class="bio_icons_b">
				<img src="images/icons_pets.svg" alt=" " class="icons">
				<h3>Has 1 Dog</h3>
			</div>
			<div class="bio_icons_b">
				<img src="images/icons_kids.svg" alt=" " class="icons">
				<h3>Four Children</h3>
			</div>
		</div>
	</div>
</div>

