
<div id="watchers" class="jumbo">
	<div id="jtext">
		<p id="jp">
			Meet our Pack!
		</p>
		<p id="jsmall">
			this is standin
		</p>
	</div>
</div>
<div class="watch_div">
	<img src="images/watch_pers_1.jpg" alt="" class="clip-circle">
</div>