body {
	margin: 0;
	padding: 0;
	font-family: 'Helvetica';
	font-weight: 300;
}

#dog_logo {
	float: left;
	width: 190px;
	height: 190px;
	background-color: white;
	border: 1px solid white;
	border-radius: 50%;
	margin: 10px 0 0 50px;

}

#dog_logo img {
	width: 214%;
	margin: 0 auto;
	margin-top: 19px;
	margin-left: 41px;
}

header {
	width: 100%;
	height: 140px;
}

header h1 {
	float: left;
	padding: 40px;
}

nav {	
	float: right;
	margin-top: 45px;
	padding-right: 10px;
}

ul {
	list-style: none;
	margin-right: 45px;
	margin-top:20px;
}

li {
	display: inline;
	padding: 10px;
}

a {
	color: #000000;
	text-decoration: none;
	font-size: 20px;
}

#home {
	background-image: url("/images/land_2.jpg");
	background-size: cover;
}

/*______________ CONTACT ____________________________*/

#watchers {
	background-image: url("/images/dog_walk2.jpg");
	background-size: cover;
}

#watch_title {
	width: 500px;
	text-align: center;
	margin: 0 auto;
	font-size: 42px;
	padding-top: 50px;
	padding-bottom: 50px;
}

.clip-circle {
	width: 300px;
	height: 300px;
	background-color: #f2f2f2;
	border-radius: 50%;
	border: 1px solid #f2f2f2;
	margin-top: 25px;
	float: left;
	margin-right: 40px;
}

.watch_div {
	width: 80%;
	margin: 0 auto;
	border-top: 2px solid #f2f2f2;
	height: 400px;
	min-width: 900px;
}

#contact {
	background-image: url("/images/contact1.jpg");
	background-size: cover;
}

#contact_title {
	width: 500px;
	text-align: center;
	margin: 0 auto;
	font-size: 42px;
	padding-top: 50px;
	padding-bottom: 50px;
}

/*______________ CONTACT ____________________________*/


.jumbo {
	width: 100%;
	height: 500px;
}

#services {
	background-image: url('/images/dogwalker.jpg');
	background-size: cover;
}

#servtitle {
	width: 500px;
	text-align: center;
	margin: 0 auto;
	font-size: 42px;
	padding-top: 50px;
	padding-bottom: 50px;
}

.serv {
	width: 80%;
	margin: 0 auto;
	border-top: 2px solid #f2f2f2;
	/*border-bottom: 2px solid #f2f2f2;*/
	height: 225px;
	min-width: 900px;
}

.servt {
	width: 915px;
	float: left;
}

.serv p {
	text-align: center;
}

.circle {
	width: 175px;
	height: 175px;
	background-color: #f2f2f2;
	border-radius: 50%;
	border: 1px solid #f2f2f2;
	margin-top: 25px;
	float: left;
	margin-right: 40px;
}

.circle h1 {
	text-align: center;
	margin-top: 56px;
	line-height: 92%;
}

.servprice{
	width: 25%;
	display: inline-block;
	text-align: center;
}

#signup {
	width: 100%;
	background-size: cover;
	background-image: url('/images/pets.jpg');
}

#signform {
	width: 80%;
	margin: 0 auto;
	height: 300px;
}

form {
	width: 100%;
	margin: 0 auto;
}

.servselect {
	width: 30%;
	text-align: center;
	float: left;
}