body {
	margin: 0;
	padding: 0;
	font-family: 'Helvetica';
	font-weight: 300;
}

#dog_logo {
	float: left;
	width: 190px;
	height: 190px;
	background-color: white;
	border-radius: 50%;
	margin: 10px 0 0 50px;
	border-bottom: 2px solid #f2f2f2;
}

#dog_logo img {
	width: 214%;
	margin: 0 auto;
	margin-top: 19px;
	margin-left: 41px;
}

header {
	width: 100%;
	height: 140px;
	border-bottom: 2px solid #f2f2f2;

}

header h1 {
	float: left;
	padding: 40px;
}

nav {	
	float: right;
	margin-top: 45px;
	padding-right: 10px;
}

ul {
	list-style: none;
	margin-right: 45px;
	margin-top:20px;
}

li {
	display: inline;
	padding: 10px;
}

a {
	color: #000000;
	text-decoration: none;
	font-size: 20px;
}

/*______________ HOME ____________________________*/


#home {
	background-image: url("/images/land_2.jpg");
	background-size: cover;
}

#home_title {
	width: 100%;
	text-align: center;
	margin: 0 auto;
	font-size: 42px;
	padding: 50px 0 50px 0;
	font-weight: 300;
	letter-spacing: 2px;
	color: white;
	background-color: #559CAD;
}


/*______________ WATCHERS ____________________________*/

#watchers {
	background-image: url("/images/watch2.jpg");
	background-size: cover;
}

#watch_title {
	width: 100%;
	text-align: center;
	margin: 0 auto;
	font-size: 42px;
	padding: 50px 0 50px 0;
	font-weight: 300;
	letter-spacing: 2px;
	color: white;
	background-color: #68B0AB;
}

.clip-circle {
	width: 300px;
	height: 300px;
	border-radius: 50%;
	border: 1px solid #f2f2f2;
	margin-top: 75px;
	margin-right: 40px;
	float: left;
}

.watch_div {
	width: 80%;
	margin: 0 auto;
	border-top: 2px solid #f2f2f2;
	height: 500px;
	min-width: 900px;
}

.watch_bio {
	width: 60%;
	display: inline-block;
	text-align: left;
	line-height: 25px;
}

.watch_bio h1{
	font-size: 30px;
	font-weight: 300;
	display: inline-block;
	text-align: left;
	line-height: 25px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 2px solid #f2f2f2;
	min-width: 840px;
}

.watch_bio h2{
	font-size: 25px;
	display: inline-block;
	text-align: left;
	line-height: 25px;
	font-weight: 300;
	color: #68B0AB;
}

.bio_icons {
	display: inline-block;
	padding-right: 36px;
	color: #68B0AB;
}

.bio_icons_b {
	display: inline-block;
	padding-right: 103px;
	color: #68B0AB;
	font-weight: 300;
}

.bio_icons h3, .bio_icons_b h3 {
	display: inline-block;
	font-weight: 100;
	color: #68B0AB;
	padding-left: 10px;
	margin-top: 16px;
}

.icons {
	float: left;
}

.icon-top {
	float: left;
	width: 750px;
	height: 50px;
}

.icon-bot {
	float: left;
	width: 790px;
	height: 50px;
}

/*______________ CONTACT ____________________________*/

#contact {
	background-image: url("/images/contact2.jpg");
	background-size: cover;
}

#contact_title {
	width: 100%;
	text-align: center;
	margin: 0 auto;
	font-size: 42px;
	padding: 50px 0 50px 0;
	font-weight: 300;
	letter-spacing: 2px;
	color: white;
	background-color: rgb(25,102,176);
}
.cont {
	width: 80%;
	margin: 0 auto;
	border-top: 2px solid #f2f2f2;
	height: 225px;
	min-width: 900px;
}

#contex {
	text-align: center;
	font-size: 20px;
}

#mail {
	margin-top: 20px;
	width: 80%;
	height: 400px;
	margin-right: auto;
	margin-left: auto;
}

#fcontact {
	margin: 0 auto;
	width: 330px;
	font-size: 23px;
}

#modal {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 100;
	display: none;
	top: 0%;
}

#innermodal {
	width: 400px;
	height: 300px;
	background-color: #f2f2f2;
	border: 3px solid #d9d9d9;
	text-align: center;
	margin-left: 36%;
	top: 50%;
	transform: translateY(-50%);
	position: absolute;
}

#innermodal p {
	top: 45%;
	transform: translateY(-55%);
	left: 29%;
	position: absolute;
}



/*______________ SERVICES ____________________________*/

.jumbo {
	width: 100%;
	height: 500px;
}

#services {
	background-image: url('/images/dogwalkerbw.jpg');
	background-size: cover;
}

#servtitle {
	width: 100%;
	text-align: center;
	margin: 0 auto;
	font-size: 42px;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: rgb(16,134,122);
	color: white;
	font-weight: 300;
}

.serv {
	width: 80%;
	margin: 0 auto;
	border-top: 2px solid #f2f2f2;
	height: 225px;
	min-width: 900px;
}

.servt {
	width: 915px;
	float: left;
}

.serv p {
	text-align: center;
}

.circle {
	width: 175px;
	height: 175px;
	background-color: #f2f2f2;
	border-radius: 50%;
	border: 1px solid #f2f2f2;
	margin-top: 25px;
	float: left;
	margin-right: 40px;
}

.circle h1 {
	text-align: center;
	margin-top: 56px;
	line-height: 92%;
	color: rgb(16,134,122);
}

.servprice{
	width: 25%;
	display: inline-block;
	text-align: center;
}

#signup {
	width: 100%;
	background-size: cover;
	background-image: url('/images/petsbw.jpg');
}

#signform {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	height: 400px;
}

form {
	width: 100%;
	margin: 0 auto;
}

.servselect {
	width: 30%;
	text-align: center;
	float: left;
}

#sel {
	width: 50%;
	height: 200px;
	margin: 0 auto;
	clear: both;
}

#sel h2 {
	padding-top: 60px;
	text-align: center;
}

#s {
	width: 50%;
	margin: 0 auto;
}

.params {
	width: 50%;
	float: left;
}

#one {
	margin-left: 11px;
	margin-top: -6px;
}

#two {
	margin-left: -15px;
	margin-top: -5px;
}

#three {
	margin-top: 33px;
	margin-left: 120px;
	
}

.easy p {
	margin: 0;
	padding-top: 11px;
	color: rgb(16,134,122);;
}

.easy {
	height: 60px;
	width: 60px;
	border-radius: 50%;
	border: 1px solid #f2f2f2;
	background-color: #f2f2f2;
	font-size: 35px;
	position: absolute;
	font-weight: 700;
	text-align: center;
}

.params h2 {
	text-align: center;
}

#sub {
	width: 92px;
	margin: 0 auto;
}

#but {
	border: 1px solid #d2d2d2;
	background-color: #d2d2d2;
	padding: 10px 20px;
	font-size: 15px;
}

#mailb {
	border: 2px solid #d2d2d2;
	padding: 3px;
	font-size: 15px;
}

#mailbut {
	border: 1px solid #d1d1d1;
	background-color: #d2d2d2;
	padding: 5px 10px;
	font-size: 14px;
}

.sc {
	border: 1px solid #d2d2d2;
}

#pt {
	margin-right: 15px;
}

#jtext {
	position: absolute;
	text-align: center;
	width: 100%;
	margin-top: -20px;
}

#jp {
	display: none;
	font-size: 85px;
	padding-top: -10px;
	color: #ffffff;
}

#jsmall {
	display: none;
	top: -100px;
	position: relative;
	color: #ffffff;
	line-height: 45px;
	font-size: 30px;
}

#jpc {
	display: none;
	font-size: 85px;
	padding-top: -10px;
	color: black;
}

#jsmallc {
	color: black;
	display: none;
	top: -100px;
	position: relative;
	/*line-height: 45px;*/
	font-size: 30px;
}

#contex {
	text-align: center;
	font-size: 25px;
}

textarea {
	margin-left: 23%;
}

